.main {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  padding: var(--spacing-distinct) 0;
  transform-origin: top center;
  transform: scale(var(--scale));
  transition: transform 0.3s ease;
}
