.modal {
  backdrop-filter: blur(5px);
}

.modal-container {
  margin: 0 auto !important;
  max-width: 325px !important;

  .modal-content {
    border-radius: 25px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform: scale(var(--scale));
  }

  .modal-header {
    background: linear-gradient(90deg, rgba(100,217,219,1) 25%, rgba(117,155,248,1) 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    padding: var(--spacing-related);

    .modal-title {
      font-weight: 900;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .modal-body {
    padding: var(--spacing-distinct);
    text-align: center;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-distinct);

    button {
      width: 100%;
    }
  }
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.5 !important;
}
