.game-timer {
  position: absolute;
  top: -2.5px;
  left: -2.5px;

  .timer-circle {
    fill: none;
    stroke: var(--app-color-primary);
    stroke-dasharray: 923.63;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 1s linear;
  }

  .timer-circle.transition-none {
    transition: none;
  }
}
