<div class="modal-header" ngbAutofocus>
  <div class="modal-title">
    Time's Up!
  </div>
</div>
<div class="modal-body">
  <p class="m-0">The correct chengyu was</p>
  <span class="hanzi-container" *ngFor="let _ of [].constructor(chengyu.hanzis.length); let i = index">
    <span class="hanzi">{{ chengyu.hanzis[i] }}</span>
    <span class="pinyin">{{ chengyu.pinyin[i] }}</span>
  </span>
  <p class="m-0">to have an insatiable desire to learn</p>
</div>
<div class="modal-footer">
  <button class="button button-primary" (click)="activeModal.close('play')">
    Play again
  </button>
  <button class="button button-blue" (click)="activeModal.close('quit')">
    Quit
  </button>
</div>
