<div class="chengyu"
     [@correctChengyu]="correctChengyu ? 'correct' : ''"
     (@correctChengyu.done)="correctAnimationDone.emit()"
     [@incorrectChengyu]="incorrectChengyu ? 'incorrect' : ''"
     (@incorrectChengyu.done)="incorrectAnimationDone.next()"
     [@skippedChengyu]="skippedChengyu ? 'skipped' : ''"
     (@skippedChengyu.done)="skippedAnimationDone.next()">
  <ng-container *ngIf="hanzis && !skippedChengyu">
    <span class="hanzi" *ngFor="let hanzi of hanzis" @hanziSelected>
      {{ hanzi }}
    </span>
  </ng-container>
  <ng-container *ngIf="skippedChengyu">
    <span class="text">Skipped!</span>
  </ng-container>
</div>
