.game-board-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 325px;
  position: relative;
}

.game-score-container {
  margin-bottom: var(--spacing-distinct);
}

.game-chengyu-container {
  color: var(--app-color-dark);
  margin-bottom: var(--spacing-distinct);
  min-height: 125px;
  position: relative;
  width: 100%;
}

.game-hanzis-container {
  border-radius: 50%;
  margin-bottom: calc(var(--spacing-distinct) + 1rem);
  padding: var(--spacing-distinct);
  position: relative;
  height: 300px;
  width: 300px;
}

.game-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.game-timer-container {
  position: absolute;
  top: -2.5px;
  left: -2.5px;
}

.game-actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.button-hanzi {
  --button-font-family: var(--font-family-hanzi);
  background: transparent;
  border: 1px solid var(--color-light) !important;
  border-radius: 50%;
  box-shadow: none;
  color: var(--color-light);
  font-size: 3rem;
  font-weight: 400;
  height: 80px;
  padding: 16px;
  width: 80px;
}

.button-hanzi-checked {
  background: var(--color-blue) !important;
  border: 0 !important;
  box-shadow: inset 0 -2.5px 0 var(--color-blue-dark);
}

.chengyu {
  align-items: center;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  height: 100%;

  .hanzi {
    font-family: var(--font-family-hanzi);
    font-size: 5rem;
  }

  .text {
    font-family: var(--font-family-titan);
    font-size: 4.5rem;
    text-transform: uppercase;
  }
}

.game-timer-circle {
  fill: none;
  stroke: var(--color-light);
  stroke-dasharray: 923.63;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1s linear;
}

.game-timer-circle.transition-none {
  transition: none;
}

.game-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .game-score-progress {
    --bs-progress-height: 2.5rem;
    --bs-progress-font-size: 1.25rem;
    --bs-progress-bg: transparent;
    --bs-progress-border-radius: 50px;
    --bs-progress-box-shadow: none;
    --bs-progress-bar-color: var(--color-light);
    --bs-progress-bar-bg: var(--color-cyan);
    --bs-progress-bar-transition: width 0.75s ease;
    border: 2.5px solid var(--color-light);
    font-family: var(--font-family-titan);
    width: 150px;

    .progress-bar {
      border-radius: 50px;
    }

    .game-score-value {
      align-items: center;
      color: var(--color-light);
      display: flex;
      height: 100%;
      left: 0;
      padding-left: var(--spacing-related);
      position: absolute;
      top: 0;
    }
  }
}

.game-win-score {
  color: var(--color-cyan);
  font-family: var(--font-family-titan);
  font-size: 2.5rem;
}
