.start-game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.start-game-title {
  color: var(--app-color-dark);
  font-family: var(--app-hanzi-font-family);
  font-size: 9rem;
  letter-spacing: -1.5rem;
  margin-right: 1.5rem; // To compensate for the letter spacing adjustments
  margin-top: -2rem;
  text-align: center;
}

.start-game-subtitle {
  color: var(--app-color-dark);
  font-family: var(--app-titan-font-family);
  font-size: 4rem;
  margin-top: -3.5rem;
  text-align: center;
  text-transform: uppercase;
}
