.score-container {
  display: flex;
  color: var(--app-color-dark);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .score-label {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;;
  }

  .score-value {
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
    font-size: 3.5rem;
    letter-spacing: -2px;
    line-height: 1;
    position: relative;
  }
}
