.score {
  display: flex;
  color: var(--app-color-dark);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .score-label {
    text-align: center;
    font-family: var(--app-lato-font-family);
    font-size: 1rem;
    text-transform: uppercase;;
  }

  .score-value {
    text-align: center;
    font-family: var(--app-titan-font-family);
    font-size: 2.5rem;
    letter-spacing: -2px;
    line-height: 1;
    position: relative;
  }
}
