.chengyu-container {
  color: var(--app-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--app-hanzi-font-family);
  font-size: 4.5rem;
  font-weight: 500 !important;
  min-height: 125px;
  margin: 1rem 0;
  position: relative;
  width: 100%;
}

.char-container {
  border-radius: 50%;
  padding: 1.75rem;
  position: relative;
  height: 300px;
  width: 300px;
}

.char {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-family: var(--app-hanzi-font-family);
  font-size: 2.5rem;
  font-weight: 500 !important;
  height: 72px;
  justify-content: center;
  position: relative;
  width: 72px;
  transition: border 0.25s ease, background 0.25s ease, box-shadow 0.25s ease, color 0.25s ease;
}

.char-unchecked {
  border: 2px solid var(--app-color-primary) !important;
  color: var(--app-color-dark) !important;
}

.char-checked {
  background: var(--app-color-primary) !important;
  box-shadow: inset 0 -5px 0 var(--app-color-primary-dark);
  color: var(--app-color-light) !important;
}

.chengyu-correct {
  color: var(--app-color-primary);
}
