<div class="game-board-container" @gameLoad>
  <div class="game-score-container">
    <app-game-score></app-game-score>
  </div>

  <div class="game-chengyu-container"
       [@correctChengyu]="correctChengyu ? 'correct' : ''"
       (@correctChengyu.done)="onCorrectChengyuAnimationDone()"
       [@incorrectChengyu]="incorrectChengyu ? 'incorrect' : ''"
       (@incorrectChengyu.done)="onIncorrectChengyuAnimationDone()"
       [class.chengyu-correct]="correctChengyu">
    <span *ngFor="let char of selectedHanzis$ | async" @charSelected>
      {{ char }}
    </span>
  </div>

  <div class="game-wheel-container container">
    <div class="row g-0 position-relative h-100 z-1" *ngIf="currentChengyu$ | async as chengyu">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <app-hanzi
          [id]="'hanzi-1'"
          [hotkey]="'ArrowUp'"
          [value]="chengyu[0]"
          (clicked)="selectHanzi($event)"
        ></app-hanzi>
      </div>
      <div class="col-6 d-flex justify-content-start align-items-center">
        <app-hanzi
          [id]="'hanzi-2'"
          [hotkey]="'ArrowLeft'"
          [value]="chengyu[1]"
          (clicked)="selectHanzi($event)"
        ></app-hanzi>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <app-hanzi
          [id]="'hanzi-3'"
          [hotkey]="'ArrowRight'"
          [value]="chengyu[2]"
          (clicked)="selectHanzi($event)"
        ></app-hanzi>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center">
        <app-hanzi
          [id]="'hanzi-4'"
          [hotkey]="'ArrowDown'"
          [value]="chengyu[3]"
          (clicked)="selectHanzi($event)"
        ></app-hanzi>
      </div>
    </div>

    <div class="game-canvas-container">
      <app-game-canvas></app-game-canvas>
    </div>

    <div class="game-timer-container">
      <app-game-timer></app-game-timer>
    </div>
  </div>

  <div class="game-action-container">
    <button class="app-button app-button-secondary"
            hotkey="Space"
            (click)="skipChengyu()">
      Skip
    </button>
  </div>
</div>
