.game-board-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: var(--app-layout-padding-distinct);
}

.game-score-container {
  margin-bottom: var(--app-layout-margin-distinct);
}

.game-chengyu-container {
  color: var(--app-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--app-hanzi-font-family);
  font-size: 5rem;
  font-weight: 500 !important;
  margin-bottom: var(--app-layout-margin-distinct);
  min-height: 125px;
  position: relative;
  width: 100%;
}

.chengyu-correct {
  color: var(--app-color-primary);
}

.game-wheel-container {
  border-radius: 50%;
  margin-bottom: calc(var(--app-layout-margin-distinct) + 1rem);
  padding: var(--app-layout-padding-distinct);
  position: relative;
  height: 300px;
  width: 300px;
}

.game-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.game-timer-container {
  position: absolute;
  top: -2.5px;
  left: -2.5px;
}

.game-action-container {
  display: flex;
  justify-content: center;
}
