html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #fbfafb;
}

:root {
  --app-color-primary: #f6d091;
  --app-color-primary-dark: #ddb080;
  --app-color-dark: #091017;
  --app-color-light: #fefffe;

  --app-hanzi-font-family: 'Ma Shan Zheng', cursive;
  --app-lato-font-family: 'Lato', sans-serif;
  --app-titan-font-family: 'Titan One', sans-serif;
}

.page-header {
}

.page-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page-main {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  padding: 4rem 0;
}
