html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #efefef;
}

.page-header {
  background-color: #d32d24;
  border-bottom: 5px solid #BD0E14;
  color: white;
  height: 64px;
  width: 100%;
}

.page-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page-main {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  padding: 4rem 0;
}
