:root {
  --color-cyan: #64d9db;
  --color-cyan-dark: #50aeaf;
  --color-blue: #759bf8;
  --color-blue-dark: #5e7cc6;
  --color-orange: #f4ba84;
  --color-orange-dark: #c3956a;
  --color-dark: #091017;
  --color-light: #fefffe;

  --font-family-hanzi: 'Ma Shan Zheng', cursive;
  --font-family-lato: 'Lato', sans-serif;
  --font-family-titan: 'Titan One', sans-serif;

  --font-size-base: 14px;

  --spacing-related: 0.75rem;
  --spacing-distinct: 1.5rem;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-size: var(--font-size-base) !important;
}

body {
  background: linear-gradient(0deg, rgba(249,220,155,1) 0%, rgba(239,138,118,1) 90%);
  font-family: var(--font-family-lato) !important;
  overflow: hidden;
}

